body {
  background-color: rgba(150, 144, 144, 0.493);
}

ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  margin: auto;
  width: 600px;
  /* height: 100px; */
}

.group {
  display: grid;
  padding-left: 765px;
}

.group input {
  margin: 10px;
}

input {
  font-size: 16px;
  padding: 10px;
  width: 300px;
  border: none;
  border-bottom: 5px solid #ccc;
}
input:focus {
  outline: none;
  border-color: #ffc107;
}

.todo {
  display: block;
  background-color: whitesmoke;
  border-radius: 3%;
  margin: auto;
  width: 700px;
  height: 700px;
}

.header {
  padding-left: 800px;
}